<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">booklibrary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">fuck</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">about</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            your account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="./register">register</a></li>
            <li><a class="dropdown-item" href="./login">login</a></li>
          </ul>
        </li>
        {{!-- <h5 style="color:white ;>{{user.username}}</h5>  --}}
        {{!-- <li class="nav-item">
        </li> --}}
      </ul>
      <form class="d-flex" role="search">
        {{!-- <h5 style="color:white ;>{{user.username}}</h5> --}}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="color:white ;" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>